[Desktop Entry]
Type=Application
Name=LibreConnect
Comment=LibreConnect Desktop
Exec=LibreConnect
Icon=libreconnect_logo
Terminal=false
Categories=Network;Utility;
